---
import Icon from "../components/Icon.tsx";
---

<section id="technologies" class="mx-auto mb-10 max-w-screen-lg px-4">
    <h2 class="mb-8 text-center text-4xl font-bold">Certificates</h2>
    <div class="mb-20">
        <div class="">
            <h4 class="mb-4 border-b border-b-black">CompTIA</h4>
            <div class="mb-6 flex flex-wrap gap-8">
                <Icon title="networkplus" />
                <Icon title="securityplus" />
            </div>
        </div>
    </div>
</section>
