---
import Icon from "./Icon";
---

<footer class="py-12 flex justify-center items-center">
    <h5 class="ms-auto">Copyright Ian Reimers</h5>
    <div class="flex ms-auto">
        <a href="https://github.com/cretlo" target="_blank"
            ><Icon title="github" size={28} /></a
        >
    </div>
</footer>
