---

---

<div class="flex flex-col justify-center items-center">
    <h1 class="text-4xl text-center">
        Welcome to the portfolio of <span class="font-bold">Ian Reimers</span>
    </h1>
    <div class="mx-12">
        <p class="text-xl p-6">
            A web developer striving to produce quality software, assist small
            bussinesses, and create application accessible for all to use.
            <br />
            <br />
             Please take a look around and check out the projects. If you have
            any questions, or want to reach out, please don't hesistate!
        </p>
    </div>
</div>
