---

---

<div class="m-auto mb-20 flex max-w-3xl flex-col items-center justify-center">
    <h1
        class="mb-12 text-center text-5xl font-extrabold leading-tight tracking-tighter md:text-6xl"
    >
        Welcome to the portfolio of <span class="text-teal-700"
            >Ian Reimers</span
        >
    </h1>
    <div class="text-center text-xl text-gray-600">
        <p class="mb-4">
            A software developer striving to produce quality software, assist
            small bussinesses, and create applications accessible for all to
            use.
        </p>
        <p>Please take a look around and check out any of the projects!</p>
    </div>
</div>
