---

---

<div class="mx-12 flex flex-col justify-center items-center">
    <h1 class="text-xl">
        Welcome to the portfolio of <span class="font-bold">Ian Reimers</span>
    </h1>
    <div>
        <p class="p-6">
            I'm a web developer striving to produce quality software, assist
            small bussinesses, and create application accessible for all to use.


            <br />
            <br />
             Please take a look around and check out the projects I've made. If
            you have any question, or want to reach out, please don't hesistate!
        </p>
    </div>
</div>
