---
import { TbMenu2 } from "react-icons/tb";
---

<nav id="#" class="mx-auto mb-8 flex max-w-2xl items-center justify-between border-b border-b-black px-2 py-5">
    <a href="/" class="z-50">
        <!--
        <Picture src={Logo} alt="Ian Reimers logo" />
        -->
        <svg
            class="w-20"
            viewBox="0 0 49.548969 23.801313"
            version="1.1"
            id="svg1"
            xmlns="http://www.w3.org/2000/svg"
            <defs
            id="defs1"
        >
            <title>Ian Reimers logo</title>
            <rect x="322.2261" y="223.04205" width="53.213886" height="60.823296" id="rect12"></rect>
            <g id="layer1" transform="translate(-71.184717,-55.007323)">
                <rect
                    style="fill:#64748b;fill-opacity:1;stroke-width:0.264583"
                    id="rect11"
                    width="2.6552467"
                    height="16.839682"
                    x="97.651085"
                    y="-19.858984"
                    transform="rotate(45)"></rect>
                <rect
                    style="fill:#64748b;fill-opacity:1;stroke-width:0.270994"
                    id="rect11-6"
                    width="2.3573437"
                    height="19.897991"
                    x="119.82546"
                    y="-1.36631"
                    transform="matrix(0.8690459,0.49473146,-0.50295052,0.8643152,0,0)"></rect>
                <rect
                    style="fill:#64748b;fill-opacity:1;stroke-width:0.264583"
                    id="rect11-7"
                    width="2.6552467"
                    height="16.839682"
                    x="3.0330353"
                    y="-114.48527"
                    transform="matrix(0.70710678,-0.70710678,-0.70710678,-0.70710678,0,0)"></rect>
                <rect
                    style="fill:#64748b;fill-opacity:1;stroke-width:0.264583"
                    id="rect11-9"
                    width="2.6552467"
                    height="16.839682"
                    x="-38.055717"
                    y="115.84782"
                    transform="matrix(-0.70710678,0.70710678,0.70710678,0.70710678,0,0)"></rect>
                <rect
                    style="fill:#64748b;fill-opacity:1;stroke-width:0.264583"
                    id="rect11-7-4"
                    width="2.6552467"
                    height="16.839682"
                    x="-132.67377"
                    y="21.221533"
                    transform="rotate(-135)"></rect>
                <text
                    xml:space="preserve"
                    transform="matrix(0.26458333,0,0,0.26458333,-2.4257447,-0.44553343)"
                    id="text11"
                    style="font-size:53.3333px;white-space:pre;shape-inside:url(#rect12);display:inline;fill:#0f766e;fill-opacity:1"
                    ><tspan x="322.22656" y="271.56962" id="tspan2"
                        ><tspan
                            style="font-weight:800;font-family:Cantarell;-inkscape-font-specification:'Cantarell Ultra-Bold'"
                            id="tspan1">IR</tspan
                        ></tspan
                    ></text
                >
            </g>
        </svg>
    </a>

    <div class="hidden gap-12 sm:flex">
        <a href="/#">Home</a>
        <a href="/#projects">Projects</a>
        <a href="/#technologies">Technologies</a>
    </div>

    <!-- Mobile menu button -->
    <button type="button" class="z-50 sm:hidden" id="menu-button">
        <TbMenu2 size={40} title="Mobile menu button" />
    </button>

    <!-- Mobile menu -->
    <div
        class="fixed left-0 top-0 z-20 flex hidden h-screen w-screen items-center justify-center bg-white sm:hidden"
        id="mobile-menu"
    >
        <div class="flex w-full flex-col gap-y-20 px-2 text-center">
            <a id="mobile-link" href="/#" class="py-4">Home</a>
            <a id="mobile-link" href="/#projects" class="py-4">Projects</a>
            <a id="mobile-link" href="/#technologies" class="py-4">Technologies</a>
        </div>
    </div>

    <script>
        /*
            Since Astro view transisitons are used, navigating to a new link removes the event listeners.
            Wrapping the mobile menu logic in the view transitions event resolved this issue.
        */
        document.addEventListener("astro:page-load", () => {
            const menuButton = document.getElementById("menu-button");
            const mobileMenu = document.getElementById("mobile-menu");
            const mobileLinks = document.querySelectorAll("#mobile-link");
            let eventsAdded = 0;

            function toggleMenu() {
                if (mobileMenu?.classList.contains("hidden")) {
                    mobileMenu?.classList.remove("hidden");
                } else {
                    mobileMenu?.classList.add("hidden");
                }
            }

            if (eventsAdded === 0) {
                console.log("Adding click event");
                mobileLinks.forEach((link) => {
                    link.addEventListener("click", toggleMenu);
                });

                menuButton?.addEventListener("click", toggleMenu);
            } else {
                console.log("click event already added");
            }
        });
    </script>
</nav>
