---
import { TbMenu2 } from "react-icons/tb";
import { TbX } from "react-icons/tb";
import Logo from "./Logo";
---

<header class="sticky top-0 z-50 mb-8 border-b border-b-black bg-white">
    <nav id="#" class="mx-auto flex w-[92%] items-center justify-between py-5">
        <a href="/" class="z-50">
            <Logo />
        </a>

        <div class="">
            <ul class="hidden gap-12 sm:flex">
                <li>
                    <a class="hover:text-gray-600" href="/#home">Home</a>
                </li>
                <li>
                    <a class="hover:text-gray-600" href="/#projects">Projects</a
                    >
                </li>
                <li>
                    <a class="hover:text-gray-600" href="/#technologies"
                        >Technologies</a
                    >
                </li>
            </ul>
        </div>

        <!-- Mobile menu button -->
        <button type="button" class="z-50 sm:hidden" id="menu-button">
            <div id="menu-icon-open">
                <TbMenu2 size={40} title="Mobile menu open icon" />
            </div>
            <div class="hidden" id="menu-icon-close">
                <TbX size={40} title="Mobile menu close icon" />
            </div>
        </button>

        <!-- Mobile menu -->
        <div
            class="fixed left-0 top-0 z-20 flex hidden h-screen w-screen items-center justify-center bg-white sm:hidden"
            id="mobile-menu"
        >
            <div class="flex w-full flex-col gap-y-20 px-2 text-center">
                <a id="mobile-link" href="/#" class="py-4">Home</a>
                <a id="mobile-link" href="/#projects" class="py-4">Projects</a>
                <a id="mobile-link" href="/#technologies" class="py-4"
                    >Technologies</a
                >
            </div>
        </div>
    </nav>
</header>

<script>
    /*
        Since Astro view transisitons are used, navigating to a new link removes the event listeners.
        Wrapping the mobile menu logic in the view transitions event resolved this issue.
    */
    document.addEventListener("astro:page-load", () => {
        const menuButton = document.getElementById("menu-button");
        const menuIconOpen = document.getElementById("menu-icon-open");
        const menuIconClose = document.getElementById("menu-icon-close");
        const mobileMenu = document.getElementById("mobile-menu");
        const mobileLinks = document.querySelectorAll("#mobile-link");

        function toggleMenu() {
            menuIconOpen &&
                (menuIconOpen.className = menuIconOpen.className
                    ? ""
                    : "hidden");
            menuIconClose &&
                (menuIconClose.className = menuIconClose.className
                    ? ""
                    : "hidden");

            if (mobileMenu?.classList.contains("hidden")) {
                mobileMenu?.classList.remove("hidden");
            } else {
                mobileMenu?.classList.add("hidden");
            }
        }

        mobileLinks.forEach((link) => {
            link.addEventListener("click", toggleMenu);
        });

        menuButton?.addEventListener("click", toggleMenu);
    });
</script>
