---
import ProjectCard from "./ProjectCard.astro";
import projectsData from "../data/projects.ts";
---

<section id="projects">
    <h2 class="text-center text-4xl font-semibold mb-4">Projects</h2>
    <div class="flex flex-wrap py-8 gap-2 justify-center items-center">
        {
            projectsData.map((data) => {
                const { project } = data.params;

                return <ProjectCard {...data.props} link={project} />;
            })
        }
    </div>
</section>
