---
import { Image } from "astro:assets";
const { title, desc, imgData, link } = Astro.props;
---

<a href={link} class="block max-w-xs">
    <div
        class="relative overflow-hidden border border-black transition-all ease-in hover:shadow-lg hover:shadow-slate-500 [&>p]:hover:rounded-br-2xl"
    >
        <Image
            src={imgData}
            alt={desc}
            transition:name="image"
            class="transition-all"
        />
        <p
            transition:name="title"
            class="absolute left-0 top-0 bg-teal-700 p-2 text-white shadow-black transition-all"
        >
            {title}
        </p>
    </div>
</a>
