---
import type { ImageMetadata } from "astro";
import ProjectCard from "./ProjectCard.astro";
import projectsData from "../data/projects.ts";

const imgMap = new Map<string, ImageMetadata>();

projectsData.forEach(async (data) => {
    const key = data.params.project as string;
    const imgData = import(data.props.imgPath) as unknown;

    imgMap.set(key, imgData as ImageMetadata);
});
---

<section id="projects">
    <h2 class="text-center text-4xl font-semibold mb-4">Projects</h2>
    <div class="flex flex-wrap py-8 gap-2 justify-center items-center">
        {
            projectsData.map((data) => {
                const { project } = data.params;

                return (
                    <ProjectCard
                        {...data.props}
                        link={project}
                        imgData={imgMap.get(project)}
                    />
                );
            })
        }
    </div>
</section>
