---
import Icon from "../components/Icon.jsx";
---

<section id="technologies" class="py-4">
    <h2 class="text-4xl font-semibold text-center">Technologies</h2>
    <div>
        <h3 class="text-xl py-4">Languages Proficiency</h3>
        <div class="ms-10">
            <h4 class="mb-4 border-b border-b-black">Primary</h4>
            <div class="mb-4 flex flex-wrap gap-10">
                <!-- javascript, typescript, html, css, sass -->
                <Icon title="javascript" />
                <Icon title="typescript" />
                <Icon title="html" />
                <Icon title="css" />
                <Icon title="sass" />
            </div>
            <h4 class="mb-4 border-b border-b-black">Secondary</h4>
            <div class="mb-4 flex flex-wrap gap-10">
                <!-- python, sql, c#, lua -->
                <Icon title="python" />
                <Icon title="sql" />
                <Icon title="csharp" />
                <Icon title="lua" />
            </div>
            <h4 class="mb-4 border-b border-b-black">Tertiary</h4>
            <div class="mb-4 flex flex-wrap gap-10">
                <!-- c, java, haskell -->
                <Icon title="c" />
                <Icon title="java" />
                <Icon title="haskell" />
            </div>
        </div>
    </div>
    <div>
        <h3 class="text-lg py-4">Frameworks/Bundlers/Libraries</h3>
        <div class="ms-10">
            <h4 class="mb-4 border-b border-b-black">DevOps</h4>
            <div class="mb-4 flex flex-wrap gap-10">
                <!-- nginx, docker -->
                <Icon title="nginx" />
                <Icon title="docker" />
            </div>
            <h4 class="mb-4 border-b border-b-black">Frontend</h4>
            <div class="mb-4 flex flex-wrap gap-10">
                <!-- c, java, haskell -->
                <Icon title="react" />
                <Icon title="nextjs" />
                <Icon title="vite" />
                <Icon title="webpack" />
            </div>
            <h4 class="mb-4 border-b border-b-black">Backend</h4>
            <div class="mb-4 flex flex-wrap gap-10">
                <!-- nodejs, express, postgres, redis, drizzle, firebase -->
                <Icon title="nodejs" />
                <Icon title="express" />
                <Icon title="postgres" />
                <Icon title="redis" />
                <Icon title="firebase" />
            </div>
        </div>
    </div>
    <div>
        <h3 class="text-lg py-4 mb-2">Development Environment</h3>
        <div class="ms-10 flex flex-wrap gap-10">
            <!-- neovim, arch, i3, tmux, bash -->
            <Icon title="neovim" />
            <Icon title="arch" />
            <Icon title="i3" />
            <Icon title="tmux" />
            <Icon title="bash" />
        </div>
    </div>
</section>
