---
import Icon from "../components/Icon.jsx";
---

<section id="technologies" class="mx-auto mb-10 max-w-screen-lg px-4">
    <h2 class="mb-8 text-center text-4xl font-bold">Technologies</h2>
    <div class="mb-20">
        <h3 class="mb-4 text-center text-xl font-semibold">
            Languages Proficiency
        </h3>
        <div class="">
            <h4 class="mb-4 border-b border-b-black">Primary</h4>
            <div class="mb-6 flex flex-wrap gap-8">
                <!-- javascript, typescript, html, css, sass -->
                <Icon title="javascript" />
                <Icon title="typescript" />
                <Icon title="html" />
                <Icon title="css" />
                <Icon title="sass" />
            </div>
            <h4 class="mb-4 border-b border-b-black">Secondary</h4>
            <div class="mb-6 flex flex-wrap gap-10">
                <!-- python, sql, c#, lua -->
                <Icon title="python" />
                <Icon title="sql" />
                <Icon title="csharp" />
                <Icon title="lua" />
            </div>
            <h4 class="mb-4 border-b border-b-black">Tertiary</h4>
            <div class="mb-4 flex flex-wrap gap-10">
                <!-- c, java, haskell -->
                <Icon title="c" />
                <Icon title="java" />
                <Icon title="haskell" />
            </div>
        </div>
    </div>

    <div class="mb-20">
        <h3 class="mb-4 text-center text-xl font-semibold">
            Frameworks - Libraries - Etc.
        </h3>
        <div class="">
            <h4 class="mb-4 border-b border-b-black">DevOps</h4>
            <div class="mb-6 flex flex-wrap gap-10">
                <!-- nginx, docker -->
                <Icon title="git" />
                <Icon title="docker" />
            </div>
            <h4 class="mb-4 border-b border-b-black">Frontend</h4>
            <div class="mb-6 flex flex-wrap gap-10">
                <!-- react, nextjs, vite, webpack -->
                <Icon title="react" />
                <Icon title="nextjs" />
                <Icon title="vite" />
                <Icon title="astro" />
                <Icon title="webpack" />
                <Icon title="bootstrap" />
                <Icon title="tailwind" />
            </div>
            <h4 class="mb-4 border-b border-b-black">Backend</h4>
            <div class="mb-6 flex flex-wrap gap-10">
                <!-- nodejs, express, postgres, redis, drizzle, firebase -->
                <Icon title="nodejs" />
                <Icon title="express" />
                <Icon title="springboot" />
                <Icon title="postgres" />
                <Icon title="redis" />
                <Icon title="firebase" />
                <Icon title="nginx" />
                <Icon title="stripe" />
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center">
        <h3 class="mb-6 text-center text-xl font-semibold">
            Development Environment
        </h3>
        <div class="mb-8 flex flex-wrap items-center justify-center gap-10">
            <!-- neovim, arch, i3, tmux, bash -->
            <Icon title="neovim" />
            <Icon title="arch" />
            <Icon title="i3" />
            <Icon title="tmux" />
            <Icon title="bash" />
        </div>
        <div>
            <a
                href="https://github.com/cretlo/.dotfiles"
                target="_blank"
                class="inline-block border border-black px-4 py-2 transition ease-in hover:bg-teal-700 hover:text-white"
                >Checkout The Dotfiles</a
            >
        </div>
    </div>
</section>
